

<div class="col s12 m7">
    <div class="card horizontal">
		<div class="card-stacked">
			<div class="card-content-modified {{ color }}">
				<h2>{{ projecttitle }}</h2>
			</div>
			<div class="card-content">
				<p>{{ projectdescription }}</p>
			</div>
			<div class="card-action">
				<a href="{{ link }}">{{ linktitle }}</a>
			</div>
		</div>
	</div>
</div>

<!--
A simple, lightweight IRC Client written in Python. Created as a Socket Programming assignment for my Computer Networks lab.
/pyirc/
View Project Page
-->